<html>
    <head>
        <title>Dip Finder</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/datatables.min.css')}}">

    </head>

    <body>
        

        <div class="container-fluid" style="margin-left: 5%; margin-right: 5%;">
            <div class="row">
                <h1 class="text-center">Dip Finder</h1>
            </div>
            <div class="row">
                <div class="col-sm-6">Data current as of: 
                    <span id="updateTime"></span>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary pull-right" onClick="window.location.reload();">Refresh</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="">
                    <table id="mainTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Diff</th>
                                <th>Diff (%)</th>
                                <th>Recent Diff (%)</th>
                                <th>Volume</th>
                            </tr>
                        </thead>
                        <tbody id="mainTableTbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        
        <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/datatables.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/page_js.js')}}"></script>
    </body>

</html>